nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(53, 58, 63);
    color: white;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 20vw;
}

.hamburger, .side-menu {
    display: none;
}

div.side-menu, .side-menu-open, .side-menu-close  {
    width:50vw;
    height: 100vh;
    background: rgb(53, 58, 63);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 3px 2px rgb(37, 41, 44);
    transform: translateX(-610px);
}
.side-menu-open {
    display: block;
    animation-name: open;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.side-menu-close {
    display: block;
    animation: close .6s forwards linear ;
}
@keyframes open {
    to {
        transform: translateX(0px);
    }
}
@keyframes close {
    from {
        transform: translateX(0px)
    }
    to {
        transform: translateX(-610px);
    }
}








/* nav div:nth-child(2) {

} */

img {
    width: 50px;
    filter: invert(1);
    cursor: pointer;
}
@media (max-width: 1093px) {
    li {
        display: none;
    }
    .hamburger {
        display: block;
    }
}