.box-1 {
  width: 150px;
  height: 150px;
  background: red;
  /* animation-name: slide;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: 2;
  animation-direction: reverse;
  animation-timing-function: ease;
  animation-fill-mode: forwards; */
  animation: slide ease 2s forwards;
}

@keyframes slide {
  0% {
    /* margin-left: 0px; */
  }
  50% {
    transform: translateX(600px) translateY(0px);
    /* margin-left: 600px; */
    /* margin-top: 0px; */
  }
  100% {
    transform: translateX(600px) translateY(600px);
    /* margin-left: 600px; */
    /* margin-top: 600px; */
  }
}